<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>lms</display-name>

	<!-- Spring config -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:application-context.xml</param-value>
	</context-param>

	<!-- VAADIN -->
	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>


	<servlet>
		<servlet-name>app</servlet-name>
		<servlet-class>ru.xpoft.vaadin.SpringVaadinServlet</servlet-class>
		<init-param>
			<param-name>LmsUI</param-name>
			<param-value>dk.itu.gsd.lms.ui.LmsUI</param-value>
		</init-param>
	</servlet>


	<!-- plain vaadin servlet -->
	<!-- <servlet> <servlet-name>Lighting and Motion Services Application</servlet-name> 
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class> <init-param> 
		<description> Vaadin UI class to use</description> <param-name>UI</param-name> 
		<param-value>dk.itu.gsd.lms.ui.LmsUI</param-value> </init-param> </servlet> -->
	<servlet-mapping>
		<servlet-name>app</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!-- Jersey (REST) -->
	<servlet>
		<servlet-name>Jersey</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>dk.itu.gsd.lms.integration.exposed </param-value>
		</init-param>
		<!-- Automatic conversion from JSON to POJO and the other way -->
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey</servlet-name>
		<url-pattern>/rest/* </url-pattern>
	</servlet-mapping>


</web-app>
